{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}


{% block content %}
<h2>Активные записи</h2>
{% if cars %}
<div class="cars">
    {% for elem in cars %}
    <div class="cars__item">
        <div class="item-photo"></div>
        <div class="item-brand-model">
            {{ elem.brand }} {{ elem.model }}
        </div>
        <div class="item-engine-info">
            {{ elem.engine_capacity }} / {{ elem.engine_power }} / {{ elem.fuel }}
        </div>
        <div class="item-drive-type">
            {{ elem.drive_type }}
        </div>
        <input type="button" value="Выбрать">
        <input type="button" value="О модели">
    </div>
    {% endfor %}
</div>
{% else %}
<p>У нас нет записей</p>
{% endif %}
{% endblock %}